[submodule "release"]
	path = release
	url = git@github.com:Skywalker-I005/AnyKernel3.git
[submodule "techpack/display"]
	path = techpack/display
	url = git@github.com:Skywalker-I005/qcom_techpack_display.git
[submodule "techpack/camera"]
	path = techpack/camera
	url = git@github.com:Skywalker-I005/qcom_techpack_camera.git
[submodule "techpack/video"]
	path = techpack/video
	url = git@github.com:Skywalker-I005/qcom_techpack_video.git
[submodule "techpack/audio"]
	path = techpack/audio
	url = git@github.com:Skywalker-I005/qcom_techpack_audio.git
